table {
  border-spacing: 0;
}

td,
th {
  padding: 0.5em;
}

th {
  font-weight: bold;
  text-align: left;
}

thead th {
  background-color: #999;
}

td > div {
  float: right;
}

@media only screen and (max-width: 40em) {
  thead th:not(:first-child) {
    display: none;
  }
  td, th {
    display: block;
    clear: both;
  }
  td[data-th]:before {
    content: attr(data-th);
    float: left;
  }
}
